body {
  font-family: sans-serif;
}

.intro {
  width: 500px;
}

h1 {
  font-size: 50px;
  font-variant: small-caps;
  color: green;
}

ul {
  font-family: cursive;
  color: darkgreen;
}

.pet {
  margin-left: 4px;
  margin-right: 10px;
  width: 300px;
  float: left;
}

.pet a {
  font-weight: bold;
}

img {
  border-radius: 8px;
  height: auto;
  width: 250px;
}
